h1 {
    font-family: "for-h1";
    font-size: 50px;
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: center;
    color: var(--text-color);
  }
  
  h2, p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 0 30px 2px 30px;
    font-size: 15px;
    font-weight: 400;
  }
  
  p {
    margin-top: 1rem;
    font-weight: 500;
  }