* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "for-h1";
  src: url(/assets/fonts/Skeina.otf);
}

:root {
  --text-color: #454545;
  --input-color-1: rgb(224, 224, 224);
  --input-color-2: rgb(180, 180, 180);
  --button-color: #565656;
  --shadow: rgba(0, 0, 0, 0.075);
  --bg-color: #fafafa;
  --placeholder: #969696;
}

body {
  background-color: var(--bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}