.footer-content {
    padding: 10px 0 10px 0;
    color: var(--bg-color);
    background-color: var(--text-color);
  }
  
  p {
    display: flex;
    justify-content: center;
  }
  
  a {
    color: rgb(246, 218, 196);
    margin-left: 5px;
  }